
__DOCS/
__pycache__/

**/*.blend1

Unigine_blender_tool.code-workspace

# Distribution / packaging
.Python
build/

# PyBuilder
target/

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version


# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
